/*
          ____
        o8%8888,
      o88%8888888.
     8'-    -:8888b
    8'         8888
   d8.-=. ,==-.:888b
   >8 `~` :`~' d8888
   88         ,88888
   88b. `-~  ':88888
   888b ~==~ .:88888
   88888o--:':::8888
   `88888| :::' 8888b
   8888^^'       8888b
  d888           ,%888b.
 d88%            %%%8--'-.
/88:.__ ,       _%-' ---  -
    '''::===..-'   =  --.

*/

*{
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  color: rgb(150,150,150);
  stroke: rgba(0,0,0,0);
}

h1{
  padding-top: 15px;
  padding-left: 10px;
  text-align: left;
  font-size: 24px;
  line-height: 110%;
  color: #468fcc;
}

p{
  line-height: 110%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #112;
}

.bar_graphs * :not(.bars):not(.axislabel) {
  fill: lightblue;
  font-size: 17px;
  font-family: Mouse Memoirs;
}

.axislabel{
  font-size: 30px;
  font-family: Mouse Memoirs;
  fill: #468fcc;
}

body{
  background-color: #112;
}

.searchform {
  display: inline-flex;
  flex-direction: row;
}

.searchbar {
  height: 70px;
  width: 70%;
  min-width: 200px;
  font-size: 40px;
  box-sizing: border-box;
  border: 3px solid #468fcc;
  border-radius: 6px;
  background-color: lightblue;
  color: #468fcc;
  text-align: left;
  padding-left: 25px;
}

.searchbutton {
  height: 70px;
  width: 200px;
  font-size: 40px;
  box-sizing: border-box;
  border: 3px solid #468fcc;
  border-radius: 6px;
  background-color: #468fcc;
  color: lightblue;
  text-align: center;
}

.searchbutton:hover {
  background-color: lightblue;
  color: #468fcc;
  cursor: pointer;
}

.logo {
  max-height: 70px;
  vertical-align: middle;
  padding: 10px;
}

#graphs_holder {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#wordcloud {
  border: 5px solid #468fcc;
}

#reaction_graph {
  border: 5px solid #468fcc;
}

#drug_graph {
  border: 5px solid #468fcc;
}

#visuals_holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
  height: 80%;
  max-height: 800px;
  width: 350px;
  background-color: lightblue;
  box-sizing: border-box;
  border: 3px solid #468fcc;
  border-radius: 6px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
  width: 0;
  height: 0;
}